<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <title>Cursos</title>

</head>
<body>
<p>Tabela com os cursos </p>
    <table>
        <thead>
        <tr>
        <tr>
            <th th:text="Curso_Id"></th>
            <th th:text="Curso"></th>
            <th></th>
        </tr>
        </tr>
        </thead>
        <tbody>
        <tr th th:each="curso : ${cursos}">
            <td th:text="${curso.id}"></td>
            <td th:text="${curso.descricao}"></td>
            <td>
                <a th:href="@{/curso/excluir/{id}(id=${curso.id})}"> (Excluir) </a>
            </td>
        </tr>
        </tbody>
    </table>

    <br><br>
    <a href="showForm">Formulário de cursos</a><br>

</body>
</html>