<!DOCTYPE html>
<html lang="en"
       xmlns="http://www.w3.org/1999/xhtml"  >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spring MVC App</title>
</head>
<body>
    <h2>Spring MVC</h2>
    <br>
    <a th:href="@{/aluno/getListaAlunos}">Clique aqui para acessar a lista de alunos!</a><br>
    <a th:href="@{/curso/getListaCursos}">Clique aqui para acessar a lista de cursos!</a><br>
    <a th:href="@{/disciplina/getListaDisciplinas}">Clique aqui para acessar a lista de disciplinas!</a><br>
</body>
</html>